@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --light-color-main: #FAFAFA;
    --dark-color-main: #212121 ;

    --light-color-background: #ECEFF1;
    --dark-color-background: #101010;

    --ligth-icon-header: url('https://i.ibb.co/yBvCR7J/icon.png');
    --dark-icon-header: url('https://i.ibb.co/42knHtB/cherytb.png');

    --light-font: rgb(19, 19, 19);
    --dark-font: #FAFAFA;

    --light-switch: #FF9100;
    --dark-switch: #2962FF;

    --light-border: #E0E0E0;
    --dark-border: #333333;

    --light-color-thumb-scroll: #cccccc;
    --dark-color-thumb-scroll: #757575;

    --light-color-track-scroll: #e1e1e1;
    --dark-color-track-scroll: #616161;

    --light-uncolor: #E0E0E0;
    --dark-uncolor: #424242;

    --light-select: #BDBDBD;
    --dark-select: #616161;

    --light-published: #9E9E9E;
    --dark-published: #616161;

    --light-date: #616161;
    --dark-date: #9E9E9E;

    --light-footer: #03A9F4;
    --dark-footer: #003147;
}

*{
    margin: 0;
    padding: 0;
}

/* ///////////// SCROLL BAR /////////// */
body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: var(--light-color-thumb-scroll);
    border-radius: 4px;
}

body.dark::-webkit-scrollbar-thumb{
    background: var(--dark-color-thumb-scroll);
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* ///////////// TRACK ////////////// */
/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
    background: var(--light-color-track-scroll);
    border-radius: 4px;
}

body.dark::-webkit-scrollbar-track {
    background: var(--dark-color-track-scroll);
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}


body{
    font-family: 'Roboto', sans-serif;
    background: var(--light-color-background);
    color: var(--light-font);
    font-size: 16px;
    transition: 0.3s ease all;
}

body.dark{
    background: var(--dark-color-background);
    color: var(--dark-font);
}

/* DISPLAYS / FLOATS */
.dib{
    display: inline-block;
}

.f-right{
    float: right;
}

.f-left{
    float: left;
}

body.dark .text-info-a a{
    color: var(--dark-switch);
}


/*Inpust Sin Estilos */
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* //////////////////// HEADER //////////////////// */
.container-headerA{
    height: 200px;
    background: var(--light-color-main);
}

body.dark .container-headerA{
    background: var(--dark-color-main);
}

.container-headerB{
    margin: 0px auto;
}

/* ICON */
.container-icon-header{
    width: 100px;
    height: 100px;
    margin: 0px auto;
}

.img-header{
    width: 100%;
    height: 100%;
    background: var(--ligth-icon-header);
    background-size: 100%;
}

body.dark .img-header{
    background: var(--dark-icon-header);
    background-size: 100%;
}

/* TEXTO */
.container-text-header{
    text-align: center;
    height: 100px;
}

/* BOTON */
.container-switch-header {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

/* Cambio de modo DIA/NOCHE */
.switch{
    background: var(--light-switch);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    font-size: 1.3rem;
    margin-top: 5px;
}

.switch::after{
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    background: #f1f1f1;
    top: -3px;
    left: -4px;
    right: unset;
    border-radius: 1000px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch:active{
    background: var(--dark-switch);
    color: black;
}

.switch:active::after{
    right: -4px;
    left: unset;
}

.active{
    background: var(--dark-switch);
    color: black;
}

.active::after{
    right: -4px;
    left: unset;
    transition: 0.3s ease all;
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: white;
}

/* //////////////////// MAIN //////////////////// */
.container-mainA{
    margin: 20px auto;
    background: var(--light-color-main);
    border-radius: 10px;
}

body.dark .container-mainA{
    background: var(--dark-color-main);
}

.container-mainB{
    padding: 10px;
}

.title-main{
    border-bottom: 1px solid var(--light-border);
}

body.dark .title-main{
    border-bottom: 1px solid var(--dark-border);
}

.img-main{
    height: 200px;
    overflow: hidden;
}

.img-main img{
    width: 100%;
    transition: .5s ease all;
}

.img-main img:hover{
    transform: scale(1.1);
    transition: .5s ease all;
}

.container-proyectos-main{
    padding: 20px 0;
    height: 200px;
    border-bottom: 1px solid var(--light-border);
}

body.dark .container-proyectos-main{
    border-bottom: 1px solid var(--dark-border);
}

.text-info-main{
    height: 200px;
}

.img-masinfo-main img{
    width: 100%;
}

.img-masinfo-main a{
    margin: auto;
}

.img-masinfo-main{
    width: 100%;
    height: 200px;
}

.text-info-p{
    height: 90%;
}

.unselect{
    color: var(--light-uncolor);
}

body.dark .unselect{
    color: var(--dark-uncolor);
}

.select{
    color: var(--light-select);
}

body.dark .select{
    color: var(--dark-select);
}

.published{
    color: var(--light-published);
}

body.dark .published{
    color: var(--dark-published);
}

.fecha{
    color: var(--light-date);
}

body.dark .fecha{
    color: var(--dark-date);
}

#git-icon{
    color: var(--light-font);
    font-size: 5rem;
}

body.dark #git-icon{
    color: var(--dark-font);
}

/* //////////////////// FOOTER //////////////////// */
.container-footerA{
    background: var(--light-footer);
}

body.dark .container-footerA{
    background: var(--dark-footer);
}

.container-footerB{
    margin: 10px auto 0px auto;
}

.desarrollo-img img{
    width: 100%;
}

.copy-footer{
    margin-top: 30px;
    min-height: 200px;
    color: var(--dark-font);
    font-size: 1rem;
}

/* Dispositivos Extra Pequeños (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    /* Para Moviles: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .img-main {
        height: auto;
    }

    .text-info-p {
        height: auto;
    }

    .text-info-p h2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .text-info-p p {
        font-size: .8rem;
    }

    p.published {
        font-size: 0.9rem;
    }

    .container-proyectos-main {
        height: 325px;
    }

    .container-proyectos-main {
    height: auto;
    }

    .f-left{
        float: none;
    }

    .f-left-m{
        float: left;
    }

    .f-right-m{
        float: right;
    }

    .f-right{
        float: none;
    }

    #git-icon {
    font-size: 3rem;
    }

    .copy-footer {
    min-height: 80px;
    text-align: center;
    }

    .container-footerA {
        height: 200px;
    }

    .desarrollo-img {
    margin: 0px 25%;
    }

    .container-footerA {
        height: auto;
    }

    .text-info-main {
        height: auto;
    }

    .img-masinfo-main {
        height: auto;
    }
}
  
@media only screen and (min-width: 600px) {
    /* Para tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-d-1 {width: 8.33%;}
    .col-d-2 {width: 16.66%;}
    .col-d-3 {width: 25%;}
    .col-d-4 {width: 33.33%;}
    .col-d-5 {width: 41.66%;}
    .col-d-6 {width: 50%;}
    .col-d-7 {width: 58.33%;}
    .col-d-8 {width: 66.66%;}
    .col-d-9 {width: 75%;}
    .col-d-10 {width: 83.33%;}
    .col-d-11 {width: 91.66%;}
    .col-d-12 {width: 100%;}
  }

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}